[submodule "jdk8"]
	path = jdk8
	url = https://github.com/openjdk/jdk8
[submodule "jdk9"]
	path = jdk9
	url = https://github.com/openjdk/jdk9
[submodule "jdk10"]
	path = jdk10
	url = https://github.com/openjdk/jdk10
[submodule "jdk11"]
	path = jdk11
	url = https://github.com/openjdk/jdk11
[submodule "jdk12"]
	path = jdk12
	url = https://github.com/openjdk/jdk12
[submodule "jdk13"]
	path = jdk13
	url = https://github.com/openjdk/jdk13
[submodule "jdk14"]
	path = jdk14
	url = https://github.com/openjdk/jdk14
[submodule "jdk15"]
	path = jdk15
	url = https://github.com/openjdk/jdk15
[submodule "jdk6"]
	path = jdk6
	url = https://github.com/openjdk/jdk6
[submodule "jdk7"]
	path = jdk7
	url = https://github.com/openjdk/jdk7
[submodule "jdk16"]
	path = jdk16
	url = https://github.com/openjdk/jdk16
[submodule "jdk17"]
	path = jdk17
	url = https://github.com/openjdk/jdk17
[submodule "jdk18"]
	path = jdk18
	url = https://github.com/openjdk/jdk18
[submodule "jdk19"]
	path = jdk19
	url = https://github.com/openjdk/jdk19
[submodule "jdk20"]
	path = jdk20
	url = https://github.com/openjdk/jdk20
[submodule "jdk21"]
	path = jdk21
	url = https://github.com/openjdk/jdk21
[submodule "jdk22"]
	path = jdk22
	url = https://github.com/openjdk/jdk22
